@page
@model IndexModel
@using Task = FirstWebApp.Models.TaskItem
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-5">
    <div class="row justify-content-center gap-4">
        <div class="col-12 col-md-8 col-lg-6">
        <form class="justify-content-center m-auto mt-5 card p-5" method="post">
            <div class="mb-3 text-center">
                <label for="NewTask" class="form-label text-uppercase d-block fw-bold text-body-secondary"><h2>Task Title</h2></label>
                <select class="form-select m-auto" aria-label="Default select example" id="SelectedCategoryId" name="SelectedCategoryId">
                    @if (Model.MyCategories.Count == 0)
                    {
                        <option selected disabled>No Categories Available</option>
                    }
                    else
                    {
                        <option value="0">None</option>
                        @foreach (var category in Model.MyCategories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <input type="text" class="form-control m-auto mt-3 mb-3" id="NewTask" name="NewTask" aria-describedby="titleHelp">
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary m-auto" asp-page-handler="Task">Add Task</button>
        </form>
        </div>
        <div class="col-12 col-md-8 col-lg-6">
        <form class="justify-content-center m-auto mt-5 card p-5" method="post">
            <div class="mb-3 text-center">
                <label for="NewCategory" class="form-label text-uppercase fw-bold text-body-secondary"><h2>Category</h2></label>
                <input type="text" class="form-control m-auto mt-3 mb-3" id="NewCategory" name="NewCategory" aria-describedby="titleHelp">
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary m-auto" asp-page-handler="Category">Add Category</button>
        </form>
        </div>
    </div>
</div>
