@page
@model FirstWebApp.Pages.LoginModel
@{
}
<div class="container">
    <div class="row justify-content-center gap-4">
        <div class="col-12 col-md-8 col-lg-9">
            <form class="m-auto mt-5 border rounded-2 border-body p-3" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="RememberMe">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                <button type="submit" class="btn btn-primary mb-3">Login</button>
                <p>Don't have an account? <a href="~/SignUp">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>