@page
@model FirstWebApp.Pages.Profile
@{
}
@if (Model.LoggedUser == null)
{
    <div class="alert alert-danger text-center m-5 p-5" role="alert">
        User not found. You're probably not logged in and shouldn't be here...
    </div>
}
else
{
    <div class="container">
    <form class="col-12 col-md-6  m-auto mt-5 border rounded-2 border-body p-3" method="post" enctype="multipart/form-data">
        <div class="text-center mb-3">
            @if (!string.IsNullOrEmpty(Model.LoggedUser.ProfilePictureUrl))
            {
                <img src="@Model.LoggedUser.ProfilePictureUrl" style="width: clamp(120px, 15vw, 200px); aspect-ratio: 1/1; object-fit: cover;" class="bg-info rounded-circle object-fit-cover"
                     alt="Profile Picture" />

            }
            else
            {
                <img src="https://i.pinimg.com/474x/24/99/03/249903173ee16b3346ba320a24e56a8b.jpg"
                     style="width: clamp(120px, 15vw, 200px); aspect-ratio: 1/1; object-fit: cover;" class="bg-info rounded-circle object-fit-cover" />
            }
        </div>
        <div class="mb-3">
            <label for="profilePictureUrl" class="form-label">Change profile picture</label>
            <input type="file" asp-for="ImageUpload" class="form-control" accept="image/*" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" asp-for="Email">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" asp-for="UserName">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" asp-for="Password">
        </div>
        <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-4">
                    <button type="submit" class="btn btn-primary w-100 p-2 text-uppercase fw-bold">
                        Update
                    </button>
                </div>
            </div>
    </form>
    </div>
}